<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>显示用户</title>
</head>
<body>
	<table border="1" align="center">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>age</th>
		</tr>
		<tr th:each="user : ${list}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
			<td>
				<a th:href="@{/user/showUserById(id=${user.id})}">更新用户</a>	
				<a th:href="@{/user/deleteUser(id=${user.id})}">删除用户</a>		
			</td>
		</tr>
	</table>
</body>
</html>